@font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: url(TrajanPro-Bold.woff);
    }

.imgtitle{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

h1 {
    font-weight: 900;
}

body {
    background-image: url(gunviolence.jpg);
    background-repeat: repeat;
    background-color: black;
    font-family: 'Helvetica';
}

.page {
    width: 1250px;
    background-color: rgb(255, 254, 254);
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}

.vis-container {
    width: 100%;
    text-align: center;
}

.vis-containermap {
    width: 100%;
    padding-left:160px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 110px;
    padding-right: 90px; 
    font-size: 12pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.description-left {
    padding-left: 100px;
    padding-right: 100px;
    font-size: 12pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.pure-g {
    margin-bottom: 30px;
}

.small-font {
    font-size: 14px;
}

.c-align {
    text-align: center;
}

#headingborder {
    background-color: rgb(255, 255, 255)
}

.mainheading {
    font-size: 30px;
    font-family: "Trajan Pro Bold";
    color: rgb(0, 0, 0);
    padding-left: 40px;
    padding-right: 20px;
}

.titlesubheading {
    font-size: 20px;
    font-family: "Trajan Pro Bold";
    color: rgb(0, 0, 0)
} 

.guntext {
    color: red
} 

.subheading {
    font-size: 25px;
    font-family: "Trajan Pro Bold";
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 5px;
    border-radius: 10px;
}

.graphheadings {
    font-size: 21px;
    font-family: "Times New Roman";
    text-align: center;
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.pad {
    padding-right: 20px;
    padding-left: 20px;
}

.centergunimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.worldwideimage {
    height: 1em;
}

.description-bottom {
    padding-right: 330px;
    padding-left: 330px;
    padding-bottom: 40px;
    font-size: 12pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.description-isotype {
    padding-right: 370px;
    padding-left: 370px;
    font-size: 12pt;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
