@font-face {
    font-family: 'Trajan Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: url(TrajanPro-Bold.woff);
    }


h1 {
    font-weight: 900;
}

body {
    background-color: rgba(0, 0, 0, 0.514);
}

.page {
    width: 1300px;
    background-color: rgb(255, 254, 254);
    margin: auto;
    padding: 100px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 30px;
}

.small-font {
    font-size: 14px;
}

#c-align {
    text-align: center;
}

#headingborder {
    border: 1px solid rgb(255, 0, 0);
}

.mainheading {
    font-size: 30px;
    font-family: "Trajan Pro Bold";
    color: rgb(0, 0, 0);
}

.titlesubheading {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif
}

.guntext {
    color: red
} 

.subheading {
    font-size: 25px;
    font-family: "Trajan Pro Bold";
    color: rgb(0, 0, 0);
    text-align: center;
}

.graphheadings {
    font-size: 14px;
    text-align: center;
}

.isotypered {
    color: red
}

.pad {
    margin-left: 10cm;
    margin-right: 10cm;
}
